ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
  padding-bottom: 15px;
}
ol li::before {
  content: "Moudro " counter(steps) ")";
  margin-right: 0.5rem;
  color: #ff6f00;
}

ul {
  list-style-type: "→ ";
  list-style-position: inside;
}



body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #555;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;

}
.header {
  background-image: url('./assets/house.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  color: white;
  letter-spacing: 2.5px;
  margin-bottom: 100px;
}

h1 {
  position: absolute;
  top: 240px;
  left: 60px;
}
h2 {
  text-align: center;
  color: #333;
}

.container {
  flex-direction: column;
  max-width: 1070px;
  margin: auto;
  display: flex;
  align-items: center;
}
.caption {
  position: absolute;
  top: 310px;
  left: 64px;
}
.features-wrapper {
  padding: 85px 0;
  margin-bottom: 50px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,226,226,0.8169642857142857) 50%, rgba(255,255,255,1) 100%);
}
.features {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.item img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.item-description {
  text-align: center;
  width: 145px;
}
.description-big {
  text-align: center;
  margin-bottom: 50px;
  padding: 0 100px;
  font-size: 1.3em;
  font-style: italic;
}

.description-small {
  text-align: left;
  margin-bottom: 20px;
  padding: 0 50px;
  font-size: 1.0em;
}

.facilities-wrapper {
  padding: 50px 0;
  margin-bottom: 100px;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,226,226,0.8169642857142857) 50%, rgba(255,255,255,1) 100%);
width: 100%;
}

.expectations-wrapper {
  padding: 0 100px;
  /* text-align: center; */
  margin-bottom: 150px;
}

.rules-wrapper {
  padding: 0 100px;
  /* text-align: center; */
  margin-bottom: 150px;
}

.lists {
  display: flex;
  padding: 0 100px;
}
.pricelist-wrapper {
  padding: 0 100px;
text-align: left;
margin-bottom: 200px;
}
.pricelist-wrapper li {
  color: #ff6f00;
  list-style: none;
  list-style-type: "→ ";
  margin-bottom: 5px;
  margin-left: 50px;
}

.disclaimer {
  font-size: 0.8em;
  text-align: right;
}